@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Bold.woff);
    font-weight: 900;
}
@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Bold.woff2);
    font-weight: 900;
}
.page{
    background: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    padding: 28px calc(50% - 640px);
    min-width: 320px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .page{
        padding: 28px 0 24px;
    }
}
@media screen and (max-width: 767px) {
    .page{
        padding: 16px 0 24px;
    }
}